SW/SW.Presentation/Service References/ServicoTipoDesconto/TipoDesconto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfTipoDesconto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoDesconto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoDesconto" nillable="true" type="tns:TipoDesconto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoDesconto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Desconto" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="TipoDescontoSoap">
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TipoDescontoSoap" type="tns:TipoDescontoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipoDescontoSoap12" type="tns:TipoDescontoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoDesconto">
    <wsdl:port name="TipoDescontoSoap" binding="tns:TipoDescontoSoap">
      <soap:address location="http://localhost:6548/TipoDesconto.asmx" />
    </wsdl:port>
    <wsdl:port name="TipoDescontoSoap12" binding="tns:TipoDescontoSoap12">
      <soap12:address location="http://localhost:6548/TipoDesconto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>