SW/SW.Presentation/Service References/ServicoProdutoPromocao/ProdutoPromocao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfProdutoPromocao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProdutoPromocao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProdutoPromocao" nillable="true" type="tns:ProdutoPromocao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProdutoPromocao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProdutoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PromocaoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ativa" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Promocao" type="tns:Promocao" />
          <s:element minOccurs="0" maxOccurs="1" name="Produto" type="tns:Produto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Promocao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoDescontoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDesconto" type="tns:TipoDesconto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoDesconto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Desconto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Produto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Preco" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCadastro" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdutoPromocao" type="tns:ProdutoPromocao" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarPorIdResult" type="tns:ProdutoPromocao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excluir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirResponse">
        <s:complexType />
      </s:element>
      <s:element name="ExcluirPorIdProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirPorIdProdutoResponse">
        <s:complexType />
      </s:element>
      <s:element name="Cadastrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="produtoPromocao" type="tns:ProdutoPromocao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Atualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="produtoPromocao" type="tns:ProdutoPromocao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPorId" />
  </wsdl:message>
  <wsdl:message name="ListarPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirSoapIn">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ExcluirSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirPorIdProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirPorIdProduto" />
  </wsdl:message>
  <wsdl:message name="ExcluirPorIdProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirPorIdProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="CadastrarSoapIn">
    <wsdl:part name="parameters" element="tns:Cadastrar" />
  </wsdl:message>
  <wsdl:message name="CadastrarSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Atualizar" />
  </wsdl:message>
  <wsdl:message name="AtualizarSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="ProdutoPromocaoSoap">
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorId">
      <wsdl:input message="tns:ListarPorIdSoapIn" />
      <wsdl:output message="tns:ListarPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input message="tns:ExcluirSoapIn" />
      <wsdl:output message="tns:ExcluirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirPorIdProduto">
      <wsdl:input message="tns:ExcluirPorIdProdutoSoapIn" />
      <wsdl:output message="tns:ExcluirPorIdProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cadastrar">
      <wsdl:input message="tns:CadastrarSoapIn" />
      <wsdl:output message="tns:CadastrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <wsdl:input message="tns:AtualizarSoapIn" />
      <wsdl:output message="tns:AtualizarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProdutoPromocaoSoap" type="tns:ProdutoPromocaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorId">
      <soap:operation soapAction="http://tempuri.org/ListarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPorIdProduto">
      <soap:operation soapAction="http://tempuri.org/ExcluirPorIdProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cadastrar">
      <soap:operation soapAction="http://tempuri.org/Cadastrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <soap:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProdutoPromocaoSoap12" type="tns:ProdutoPromocaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorId">
      <soap12:operation soapAction="http://tempuri.org/ListarPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap12:operation soapAction="http://tempuri.org/Excluir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPorIdProduto">
      <soap12:operation soapAction="http://tempuri.org/ExcluirPorIdProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cadastrar">
      <soap12:operation soapAction="http://tempuri.org/Cadastrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <soap12:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProdutoPromocao">
    <wsdl:port name="ProdutoPromocaoSoap" binding="tns:ProdutoPromocaoSoap">
      <soap:address location="http://localhost:6548/ProdutoPromocao.asmx" />
    </wsdl:port>
    <wsdl:port name="ProdutoPromocaoSoap12" binding="tns:ProdutoPromocaoSoap12">
      <soap12:address location="http://localhost:6548/ProdutoPromocao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>